.contacts {
    margin-bottom: 0;
}

.contacts__container {
    display: flex;
}

.contacts__column-left {
    flex: 0 0 35.5%;
    margin-left: auto;
    border-top: var(--gray-border);
    border-right: var(--gray-border);
}

.contacts__content {
    padding: 124px 122px 124px calc((100vw - 1600px)/2);
    max-width: 632px;
    display: flex;
    flex-direction: column;
}
/* Address */
.contacts__address {
    margin-bottom: 28px;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.address__showroom {
    margin-bottom: 3px;
    font-size: 24px;
    font-weight: 600;
}

.contacts__form {
    margin-bottom: 38px;
}

.contacts__heading {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 400;
}

/* Callback */

.callback {
    display: flex;
    flex-direction: column;
}

.validate-field {
    margin-bottom: 23px;
}

.callback__item {
    width: 100%;
    padding: 3px 24px;
    border: 1px solid #333333;
    border-radius: 100px;
}

.callback__item::placeholder {
    color: var(--gray);
}

.callback__btn {
    align-self: start;
    color: var(--purple);
    transition: color .3s, background-color .3s;
}

.callback__btn:hover {
    background-color: var(--purple);
    color: white;
}

.callback__btn:active {
    background-color: var(--purple-darker);
    border-color: #D1A9F0;
    color: white;
}

.js-validate-error-label {
    color: var(--purple) !important;
    font-weight: 600;
}

/* Contact us */

.contact-us__items-container {
    display: flex;
}

.contact-us__item {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 50% 50%;
}

.contact-us__whatsapp {
    background-image: url('../img/whatsapp.svg');
}

.contact-us__telegram {
    background-image: url('../img/telegram.svg');
}

.contact-us__item:hover {
    filter: drop-shadow(3px 3px 2px var(--purple));
}

/* Map */

.contacts__map {
    flex: 0 0 64.5%;
}

[class*=ground-pane] {
    filter: grayscale(1);
}