.events__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-right: -50px;
}

.events__item {
    flex: 0 0 calc(33.333% - 50px);
    margin-right: 50px;
}

.event {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    outline: var(--gray-border);
    outline-offset: -1px;
}

.event__content {
    display: flex;
    flex-direction: column;
    padding: 13px 19px 0 50px;
}

.event__img {
    position: relative;
    width: 100%;
    height: auto;
}

.event__place, .event__date {
    align-self: flex-end;
    font-size: 12px;
    line-height: 16px;
    color: var(--gray);
}

.event__date {
    margin-bottom: 3px;
}

.event__heading {
    margin: 0;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
}

.event__description {
    margin: 0;
    margin-bottom: 19px;
    max-width: 400px;
}

.event__details {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 42px;
    margin-left: 50px;
    line-height: 26px;
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
    outline-offset: 5px;
}

.event__details:hover {
    text-shadow: 0.5px 0;
}

.event__details:active {
    color: var(--purple-darker);
    border-color: var(--purple-darker);
}

.events__btn {
    margin-left: 50%;
    transform: translateX(-50%);
    color: var(--purple);
    transition: color .3s, background-color .3s;
}

.events__btn:hover {
    background-color: var(--purple);
    border-color: var(--purple-lighter);
    color: white;
}

.events__btn:active {
    background-color: var(--purple-darker);
    color: white;
}