.gallery {
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    background: url('../img/gallery/gal-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 0;
}

.gallery__content {
    display: flex;
}

.gallery__column-1 {
    margin-right: 50px;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
}

.gal-filter {
    display: flex;
    flex-direction: column;
}

.gal-filter__text {
    margin-bottom: 12px;
    font-weight: 600;
}

.gallery__note {
    margin: 0;
    padding: 0;
    margin-top: auto;
    max-width: 350px;
    font-weight: 600;
}

.gallery__link {
    color: var(--purple);
}

.gallery__link:focus {
    outline-color: var(--purple-darker);
}

.gallery__link:hover {
    text-decoration: underline;
}

.gallery__link:active {
    text-decoration: underline;
    color: var(--purple-darker);
}

/* Select */

.choices[data-type*='select-one'] .choices__inner {    
    padding-bottom: 0;
}

.choices__inner {
    background-color: transparent;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 6px;
    min-height: auto;
}

.is-open .choices__inner {
    border-radius: 6px 6px 0 0;
}

.is-open .choices__inner {
  border-color: #fff;
}

.is-focused .choices__inner {
    border-color: var(--purple-lighter);    
}

.choices__list {
    padding: 0;
}

.choices__list--dropdown {
    background-color: transparent;
    border: 1px solid #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.is-open .choices__list--dropdown {
    border-color: #999999;
}

.choices__list--single .choices__item,  
.choices__list--dropdown .choices__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 15px;
    height: 40px;
}

.choices__list--single .choices__item {
    height: 38px;
}

.choices__list--dropdown .choices__item {
    color: #999999;
    border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item:last-child {
    border-bottom: none;
}

.choices[data-type*='select-one']:after {
    height: 7px;
    width: 7px;
    right: 16px;
    border-color: #fff #fff transparent transparent;
    border-width: 1px;
    transform: translateY(25%) rotate(-45deg);
}
  
.choices[data-type*='select-one'].is-open:after {
    border-color: transparent transparent #fff #fff;
}

/* Slider */

.gallery__column-2 {
    width: calc(75% - 50px);
}

.gal-slider__wrapper {
    height: 750px;
}

.gal-slider__slide {
    box-sizing: border-box;
    height: calc((100% - 50px) / 2);
    display: flex;
    align-items: center;
}

.gal-slider__link {
    position: relative;
    width: 100%;
    font-size: 0;
    line-height: 0;
    outline: 3px solid transparent;
    outline-offset: -3px;
}

.gal-slider__link::after {
    opacity: 0;
    position: absolute;
    content: '';
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/gallery/slide-preview.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: opacity .2s;
}

.gal-slider__link::before {
    opacity: 0;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(194, 131, 243, 0.4);
    border: 2px solid #D1A9F0;
}

.gal-slider__link:hover::after {
    opacity: 1;
}

.gal-slider__link:active::before {
    opacity: 1;
}

.gal-slider__img {
    width: 100%;
    height: auto;
}

.gal-slider__link:focus {
    outline-color: var(--purple-darker);    
}

/* Slider nav */

.gal-slider__nav {
    position: relative;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.gal-slider__pagination {
    position: initial;
    width: auto;
    margin: 0 21px;
    line-height: 30px;
}

.gal-slider__prev,
.gal-slider__next {
  position: initial;
  width: 30px;
  height: 30px;
  margin-top: 0;
  color: inherit;
  background-color: #666666;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: background-color .2s;
}

.gal-slider__prev:hover,
.gal-slider__next:hover {
  background-color: var(--purple);
}


.gal-slider__prev:active,
.gal-slider__next:active {
  background-color: var(--purple-darker);
  border-color: #D1A9F0;
}

.gal-slider__prev:focus,
.gal-slider__next:focus {    
    border-color: var(--purple-darker);
    outline: none;
}

.gal-slider__prev:after,
.gal-slider__next:after {
  font-size: 10px;
}

.gal-slider__prev:after {
    transform: translateX(-25%);
}

.gal-slider__next:after {
    transform: translateX(25%);
}

/* Modal */

.gallery-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.gallery-modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: white;
}

.gallery-modal__img {
    display: block;
    max-height: 80vh;
    max-width: 80vw;
}

.gallery-modal__btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 20px;
    line-height: 20px;
    font-weight: 600;
    color: var(--purple);
}